<template>
  <div>
    <v-layout class="mt-2 px-2">
      <v-flex>
        <p>Mostrar:</p>
        <v-radio-group v-model="filter" row class="mt-0">
          <v-radio label="Todas" value=""></v-radio>
          <v-radio label="Activas" value="activo"></v-radio>
          <v-radio label="Inactivas" value="inactivo"></v-radio>
        </v-radio-group>
      </v-flex>
      <v-flex>
        <v-text-field
          v-model="search"
          label="Buscar"
          prepend-inner-icon="mdi-magnify"
          outline
          clearable
        />
      </v-flex>
    </v-layout>
    <v-data-table
      :headers="headers"
      :items="promociones"
      :search="search"
      :pagination.sync="pagination"
      :loading="loading"
    >
      <template
        slot="headerCell"
        slot-scope="{ header }"
      >
        <span
          class="subheading font-weight-light text-success text--darken-3"
          v-text="header.text"
        />
      </template>
      <template
        slot="items"
        slot-scope="{ item }"
      >
        <td>{{ item.id_promo }}</td>
        <td>{{ item.nombre }}</td>
        <td>{{ item.descuento }}</td>
        <td>
          <v-chip
            label
            small
            :color="item.status.toLowerCase() === 'activo' ? 'green' : 'grey lighten-2'"
            :class="{ 'white--text': item.status.toLowerCase() === 'activo' }"
          >
            {{ item.status || '--' }}
          </v-chip>
        </td>
        <td>{{ item.fecha_in | date }}</td>
        <td>{{ item.fecha_fin | date }}</td>
        <td class="d-flex align-center justify-end">
          <v-btn
            flat
            icon
            color="#003b94!important"
            class="text-lowercase mx-2"
            :ripple="false"
            @click="$refs.promocionesCrud.edit(item)"
          >
            ver/editar
          </v-btn>
          <v-btn
            flat
            icon
            class="text-lowercase red--text mx-2"
            :ripple="false"
            @click="$refs.modalConfirm.openModal({
                        id: item._id,
                        text: `¿Eliminar promoción ${item.nombre} (${item.id_promo})?`,
                        route: '/promociones/remove'
                      })"
          >
            eliminar
          </v-btn>
        </td>
      </template>
    </v-data-table>
    <promociones-crud @update="fetch" ref="promocionesCrud"/>
    <modal-confirm-delete ref="modalConfirm" @done="updateOnRemove"/>
  </div>
</template>

<script>
// import dayjs from 'dayjs'
import { api } from '@/api'
import PromocionesCrud from '@/modules/Promociones/PromocionCrud'
import ModalConfirmDelete from '@/components/core/ModalConfirmDelete'

export default {
  name: 'PromocionesTable',
  components: {
    ModalConfirmDelete,
    PromocionesCrud
  },
  data () {
    return {
      headers: [
        {
          text: 'ID',
          value: 'id_promo'
        },
        {
          text: 'Nombre',
          value: 'nombre'
        },
        {
          text: 'Descuento',
          value: 'descuento'
        },
        {
          text: 'Estatus',
          value: 'status'
        },
        {
          text: 'Inicio',
          value: 'fecha_in'
        },
        {
          text: 'Termina',
          value: 'fecha_fin'
        },
        {
          sortable: false,
          text: ''
        }
      ],
      pagination: {
        rowsPerPage: 10,
        descending: true,
        sortBy: 'fecha_fin'
      },
      items: [],
      search: '',
      filter: '',
      loading: false
    }
  },
  computed: {
    promociones () {
      return !this.filter
        ? this.items
        : this.items.filter(p => p.status.toLowerCase() === this.filter)
    }
  },
  created () {
    this.fetch()
  },
  methods: {
    async fetch () {
      try {
        this.loading = true
        this.items = await api.get('/promociones').then(res => res.data.data)
        this.loading = false
      } catch (error) {
        console.log(error)
      }
    },
    add () {
      this.$refs.promocionesCrud.dialog = true
    },
    updateOnRemove () {
      this.fetch()
      this.$refs.promocionesCrud.$refs.promoForm.fecthProducts()
    }
  }
}
</script>
