<template>
  <div>
    <v-dialog
      v-model="dialog"
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition"
      scrollable
    >
      <v-card tile>
        <v-toolbar card color="blue darken-2">
          <v-toolbar-title class="white--text">DETALLES DE LA PROMOCIÓN</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-btn icon class="white--text" @click="dialog = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-toolbar>
        <v-card-text>
          <promocion-form ref="promoForm" @update="dialog = false; $emit('update')"/>
        </v-card-text>
      </v-card>
    </v-dialog>
    <modal-confirm-delete ref="removePromocion" @done="$emit('update')"/>
  </div>
</template>

<script>
import ModalConfirmDelete from '@/components/core/ModalConfirmDelete'
import PromocionForm from '@/modules/Promociones/PromocionForm'

export default {
  name: 'PromocionCRUD',
  components: {
    ModalConfirmDelete,
    PromocionForm
  },
  data () {
    return {
      dialog: false
    }
  },
  watch: {
    dialog ( val) {
      if (!val) this.$refs.promoForm.resetData()
    }
  },
  methods: {
    edit (item) {
      this.dialog = true
      // console.log(item)
      this.$refs.promoForm.edit(item)
    }
  }
}
</script>
