<template>
  <v-form ref="form" lazy-validation @submit.prevent="save">
    <v-layout row wrap>
      <v-flex md4 class="px-3 image-file">
        <div class="image-file__preview">
          <p class="message"> Ningún archivo</p>
          <div class="image" :style="'background-image: url(' + imageUrl + ')'" @click='$refs.image.click()'>
          </div>
          <input type="file" style="display: none" ref="image" accept="image/jpeg" @change="onFilePicked">
        </div>
        <v-text-field
          v-model='imageName'
          class="purple-input"
          label="Imagen"
          readonly
          prepend-icon='mdi-image-outline'
          :rules="validations.req"
          @click='$refs.image.click()'
        />
        <!-- <input type="file" ref="image2" accept="image/jpeg" > -->
      </v-flex>
      <v-flex md8 class="px-3 border-right">
        <v-layout row wrap>
          <v-flex xs3 class="px-3">
            <v-text-field
              v-model.trim="form.id_promo"
              label="ID"
              class="purple-input"
              :rules="validations.req"
              :disabled="isEdit"
            />
          </v-flex>
          <v-flex xs2 class="px-3">
            <v-text-field
              v-model.trim="form.descuento"
              label="% Descuento"
              class="purple-input"
              :rules="validations.discount"
              type="number"
            />
          </v-flex>
          <v-flex xs7 class="px-3">
            <v-text-field
              v-model.trim="form.nombre"
              label="Nombre"
              class="purple-input"
              :rules="validations.req"
            />
          </v-flex>
          <v-flex xs12 class="px-3">
            <v-layout row>
              <v-flex>
                <v-menu
                  :close-on-content-click="false"
                  v-model="datePicker1"
                  :nudge-right="20"
                  :nudge-top="60"
                  transition="slide-x-transition"
                  offset-y
                  lazy
                  full-width
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-on="on"
                      v-model="form.fecha_in"
                      label="Fecha de inicio"
                      prepend-icon="mdi-calendar"
                      readonly
                      :rules="validations.req"
                    />
                  </template>
                  <v-date-picker
                    v-model="form.fecha_in"
                    header-color="#003b94"
                    scrollable
                    locale="es-MX"
                    @input="datePicker1 = false"
                  />
                </v-menu>
              </v-flex>
              <v-flex>
                <v-menu
                  :close-on-content-click="false"
                  v-model="datePicker2"
                  :nudge-right="20"
                  :nudge-top="60"
                  transition="slide-x-transition"
                  offset-y
                  lazy
                  full-width
                  min-width="290px"
                >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-on="on"
                    v-model="form.fecha_fin"
                    label="Fecha de terminación"
                    prepend-icon="mdi-calendar"
                    readonly
                    :rules="validations.req"
                  />
                </template>
                <v-date-picker
                  v-model="form.fecha_fin"
                  :min="form.fecha_in"
                  header-color="#003b94"
                  scrollable
                  locale="es-MX"
                  @input="datePicker2 = false"
                />
                </v-menu>
              </v-flex>
            </v-layout>
          </v-flex>
          <v-flex xs12 class="px-3">
            <v-textarea
              v-model.trim="form.descripcion"
              label="Descripción"
              class="purple-input"
              auto-grow
              :rules="validations.req"
            />
          </v-flex>
          <v-flex xs12 class="px-3">
            <v-autocomplete
              v-model="form.productos"
              :items="productsData"
              label="Productos"
              multiple
              small-chips
              deletable-chips
              clearable
            />
          </v-flex>
          <v-flex xs12 class="px-3">
            <h5 class="grey--text mb-0">Estatus</h5>
            <v-switch
              v-model="promoStatus"
              :label="form.status"
              class="mt-0"
            />
          </v-flex>
          <v-flex xs12 class="px-3">
            <v-btn
              color="green darken-1"
              type="submit"
              class="white--text"
              :disabled="loading"
            >
              Guardar
            </v-btn>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>
  </v-form>
</template>

<script>
import dayjs from 'dayjs'
import { api } from '@/api'
export default {
  name: 'PromocionForm',
  data () {
    return {
      validations: {
        req: [
          value => !!value || 'Campo requerido'
        ],
        discount: [
          value => !!value || 'Campo requerido',
          value => !!value && value < 100 || 'Porcentaje debe ser menor a 100'
        ]
      },
      form: {
        id_promo: '',
        descuento: '',
        nombre: '',
        descripcion: '',
        fecha_in: '',
        fecha_fin: '',
        status: 'Activo',
        productos: []
      },
      promoStatus: true,
      imageUrl: null,
      imageName: '',
      file: null,
      productos: [],
      datePicker1: false,
      datePicker2: false,
      isEdit: false,
      loading: false
    }
  },
  computed: {
    productsData () {
      const arr = this.isEdit
        ? this.productos.filter(p => p.id_promo === '0' || p.id_promo === this.form.id_promo)
        : this.productos.filter(p => p.id_promo === '0')
      return arr.map(o => {
        return {
          text: `${o.nombre} | ${o.codigo} | ${o.clave_interna}`,
          value: o._id
        }
      })
    }
  },
  watch: {
    promoStatus (val) {
      this.form.status = val ? 'Activo' : 'Inactivo'
    }
  },
  created () {
    this.fecthProducts()
  },
  methods: {
    async save () {
      // console.log('save')
      if (this.$refs.form.validate()) {
        this.loading = true
        const route = this.isEdit ? '/promociones/update' : '/promociones'
        const formData = new FormData()
        Object.keys(this.form).forEach(key => {
          if (key !== 'productos') formData.append(key, this.form[key])
        })
        formData.append('productos', JSON.stringify(this.form.productos))
        /**
         * No agregar info de imagen en caso de ser edit (pasa validacion de form.validate() porque metodo edit setea nombre de la imagen)
         * Al ser Create si existira porque se valido previamente con form.validate()
         */
        if (this.file) {
          const extension = this.file.name.split('.').pop()
          formData.append('image', this.file, `${this.form.id_promo}.${extension}`)
        }
        try {
          const { success, message } = await api.post(route, formData, { headers: { 'Content-Type': 'multipart/form-data' }})
            .then(res => res.data)
          if (success) {
            this.$emit('update')
            this.fecthProducts()
            this.$root.$emit('notify', { message })
          } else {
            this.$root.$emit('notify', { message, type: 'error' })
          }
          this.loading = false
        } catch (error) {
          this.loading = false
          this.$root.$emit('notify', { message: error, type: 'error' })
        }
      }
    },
    async fecthProducts () {
      try {
        this.productos = await api.get('products').then(res => res.data.data)
      } catch (error) {
        console.log(error)
      }
    },
    edit (item) {
      this.form = { ...item }
      this.isEdit = true
      this.form.fecha_in = dayjs(item.fecha_in).format('YYYY-MM-DD')
      this.form.fecha_fin = dayjs(item.fecha_fin).format('YYYY-MM-DD')
      this.promoStatus = item.status.toLowerCase() === 'activo' || false
      this.imageName = item.ruta
      this.imageUrl = `${process.env.VUE_APP_PROMOCIONES_URL}${item.ruta}`
    },
    onFilePicked(i) {
      // console.log('on file picked')
      const file = this.$refs.image.files[0]
      if (file) {
        /**
         *  Se guarda temporal el archivo
         * Evitar bug que ocurre al abrir dialog y no seleccionar archivo una vez que ya se tenia selecinoado archivo. Comportamiento por defecto es eliminar data del archivo en input y resetarlo
         */
        const fr = new FileReader()
        fr.readAsDataURL(file)
        // validar que se acepte solo jpg
        if(file.type === 'image/jpeg' || file.type === 'image/png') {
          fr.addEventListener('load', () => {
            this.file = file
            this.imageUrl = fr.result
            this.imageName = file.name
          })
        } else {
          this.$root.$emit('notify', { message: `Formato de imagen (${file.type}) no permitido.`, type: 'error' })
          this.imageUrl = ''
          this.files = null
        }
      }
    },
    resetData () {
      this.form = {
        id_promo: '',
        descuento: '',
        nombre: '',
        descripcion: '',
        fecha_in: '',
        fecha_fin: '',
        status: 'Activo',
        productos: []
      },
      this.promoStatus = true
      this.imageUrl = null
      this.imageName = ''
      this.file = null
      this.isEdit = false
      this.$refs.image.value = ''
      this.$refs.form.resetValidation()
    }
  }
}
</script>
