<template>
  <v-layout  wrap row>
    <v-flex xs4>
      <div class="image-square">
          <div class="message"> Ningún archivo</div>
          <label :style="'background-image: url(' + imageUrl + ')'" @click='pickFile1'>
          </label>
      </div>
    </v-flex>
    <v-flex xs4>
      <div class="image-square">
          <div class="message"> Ningún archivo</div>
          <label :style="'background-image: url(' + imageUrl2 + ')'" @click='pickFile2'>
          </label>
      </div>
    </v-flex>
    <v-flex xs4>
      <div class="image-square">
          <div class="message"> Ningún archivo</div>
          <label :style="'background-image: url(' + imageUrl3 + ')'" @click='pickFile3'>
          </label>
      </div>
    </v-flex>
    <v-flex xs12 class="text-xs-center text-sm-center text-md-center text-lg-center">
      <!-- <v-text-field label="Selecciona una imagen" style="display: none"  @click='pickFile1' v-model='imageName' prepend-icon='attach_file'>
      </v-text-field> -->
      <input type="file" style="display: none" ref="image" name="image1" accept="image/jpg" @change="onFilePicked">
    </v-flex>
    <v-flex xs12 class="text-xs-center text-sm-center text-md-center text-lg-center">
      <!-- <v-text-field label="Selecciona una imagen" style="display: none"  @click='pickFile2' v-model='imageName2' prepend-icon='attach_file'>
      </v-text-field> -->
      <input type="file" style="display: none" ref="image2" name="image2" accept="image/jpg" @change="onFilePicked2">
    </v-flex>
    <v-flex xs12 class="text-xs-center text-sm-center text-md-center text-lg-center">
      <!-- <v-text-field label="Selecciona una imagen" style="display: none"  @click='pickFile3' v-model='imageName3' prepend-icon='attach_file'>
      </v-text-field> -->
      <input type="file" style="display: none" ref="image3" name="image3" accept="image/jpg" @change="onFilePicked3">
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  name: 'AddEditProductoImage',
  data () {
    return {
      imageUrl: '',
      imageUrl2: '',
      imageUrl3: ''
    }
  },
  methods: {
    onFilePicked(e) {
        const files = e.target.files
        this.file = event.target.files[0]
        if (files[0] !== undefined) {
          this.imageName = files[0].name
          if (this.imageName.lastIndexOf('.') <= 0) {
            return
          }
          const fr = new FileReader()
          fr.readAsDataURL(files[0])
          fr.addEventListener('load', () => {
            this.imageUrl = fr.result
            this.imageFile = files[0] // this is an image file that can be sent to server...
          })
        } else {
          this.imageName = ''
          this.imageFile = ''
          this.imageUrl = ''
        }
      },
      onFilePicked2(e) {
        const files = e.target.files
        this.file2 = event.target.files[0]
        if (files[0] !== undefined) {
          this.imageName2 = files[0].name
          if (this.imageName2.lastIndexOf('.') <= 0) {
            return
          }
          const fr = new FileReader()
          fr.readAsDataURL(files[0])
          fr.addEventListener('load', () => {
            this.imageUrl2 = fr.result
            this.imageFile2 = files[0] // this is an image file that can be sent to server...
          })
        } else {
          this.imageName2 = ''
          this.imageFile2 = ''
          this.imageUrl2 = ''
        }
      },
      onFilePicked3(e) {
        const files = e.target.files
        this.file3 = event.target.files[0]
        if (files[0] !== undefined) {
          this.imageName3 = files[0].name
          if (this.imageName3.lastIndexOf('.') <= 0) {
            return
          }
          const fr = new FileReader()
          fr.readAsDataURL(files[0])
          fr.addEventListener('load', () => {
            this.imageUrl3 = fr.result
            this.imageFile3 = files[0] // this is an image file that can be sent to server...
          })
        } else {
          this.imageName3 = ''
          this.imageFile3 = ''
          this.imageUrl3 = ''
        }
      },
      pickFile1() {
        this.$refs.image.click()
      },
      pickFile2() {
        this.$refs.image2.click()
      },
      pickFile3() {
        this.$refs.image3.click()
      },
  }
}
</script>

<style>

</style>
