<template>
  <v-dialog v-model="dialog" max-width="500" scrollable persistent>
    <v-form ref="form" v-on:submit.prevent="save()" lazy-validation class="w-100">
      <v-card>
        <v-card-title class="pa-0">
          <v-toolbar color="#003b94">
          <v-toolbar-title style="color:white;">
            <span v-if="edit">Editar</span>
            <span v-else>Nuevo</span>
            producto
          </v-toolbar-title>
            <v-spacer></v-spacer>
          </v-toolbar>
        </v-card-title>
        <v-card-text>
          <v-layout class="mb-4">
            <v-flex xs4 v-for="cont in 3" :key="cont">
              <div class="image-square">
                <div class="message"> Ningún archivo</div>
                <label :style="'background-image: url(' + imageUrl[cont - 1] + ')'" @click='$refs.images[cont - 1].click()'>
                </label>
                <input type="file" style="display: none" ref="images" accept="image/jpeg" @change="onFilePicked(cont - 1)">
              </div>
            </v-flex>
          </v-layout>
          <v-layout>
            <v-flex>
              <!-- <h4 class="mt-0 font-weight-regular">Generales</h4> -->
              <v-text-field
                v-model.trim="form.codigo"
                class="purple-input"
                label="Código"
                name="codigo"
                :rules="req"
              />
              <v-text-field
                v-model.trim="form.clave_interna"
                class="purple-input"
                label="Clave Interna"
                name="clave_interna"
                :rules="req"
                hint="Solo letras iniciando con mayúscula"
              />
              <v-text-field
                v-model.trim="form.nombre"
                class="purple-input"
                label="Nombre"
                name="nombre"
              />
              <v-textarea
                v-model.trim="form.descripcion"
                class="purple-input"
                label="Descripción"
                name="descripción"
                auto-grow
                rows="3"
              />
              <v-text-field
                v-model.trim="form.tipo"
                class="purple-input"
                label="Tipo"
                name="tipo"
              />
              <v-text-field
                v-model.trim="form.marca"
                class="purple-input"
                label="Marca"
                name="marca"
              />
              <v-text-field
                v-model.trim="form.precio"
                class="purple-input"
                label="Precio"
                name="precio"
              />
              <v-textarea
                v-model.trim="form.autos"
                class="purple-input"
                label="Autos"
                name="autos"
                auto-grow
                rows="3"
              />
              <v-text-field
                v-model.trim="form.stock"
                class="purple-input"
                label="Stock"
                name="stock"
              />
              <v-text-field
                v-model.trim="form.categoria"
                class="purple-input"
                label="Categoría"
                name="categoria"
              />
              <v-select
                v-model="form.id_promo"
                :items="promos"
                item-text="nombre"
                item-value="id_promo"
                class="purple-input"
                label="Promoción"
                clearable
                :disabled="true"
              />
              <p class="mb-1 text--secondary font-weight-regular">Status</p>
              <v-radio-group v-model="form.status" row class="mt-0">
                <v-radio label="ACTIVO" value="ACTIVO"></v-radio>
                <v-radio label="PENDIENTE" value="PENDIENTE"></v-radio>
              </v-radio-group>
              <p class="mb-1 text--secondary font-weight-regular">Pesado</p>
              <v-radio-group v-model="form.pesado" row class="mt-0">
                <v-radio label="Si" value="Si"></v-radio>
                <v-radio label="No" value="No"></v-radio>
              </v-radio-group>
              <p class="mb-1 text--secondary font-weight-regular">Outlet</p>
              <v-radio-group v-model="form.outlet" row class="mt-0">
                <v-radio label="Si" value="Si"></v-radio>
                <v-radio label="No" value="No"></v-radio>
              </v-radio-group>
            </v-flex>
          </v-layout>
          <v-layout>
            <v-flex xs5>
              <v-text-field
                v-model.number="form.peso"
                class="purple-input"
                label="Peso"
                name="peso"
                type="number"
              />
            </v-flex>
            <v-flex xs5 offset-xs2>
              <v-text-field
                v-model.number="form.ancho"
                class="purple-input"
                label="Ancho"
                name="ancho"
                type="number"
              />
            </v-flex>
          </v-layout>
          <v-layout>
            <v-flex xs5>
              <v-text-field
                v-model.number="form.alto"
                class="purple-input"
                label="Alto"
                name="alto"
                type="number"
              />
            </v-flex>
            <v-flex xs5 offset-xs2>
              <v-text-field
                v-model.number="form.largo"
                class="purple-input"
                label="Largo"
                name="largo"
                type="number"
              />
            </v-flex>
          </v-layout>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-btn
            color="red darken-1"
            flat="flat"
            @click="dialog = false;$emit('close') "
          >
            Cancelar
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn
            color="green darken-1"
            flat="flat"
            type="submit"
          >
            Guardar Cambios
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-form>
  </v-dialog>
</template>

<script>
import { api } from '@/api'

export default {
    name: 'AddEditProducto',
    data () {
      return {
        dialog: false,
        edit: false,
        form: {
          _id: '',
          codigo: '',
          clave_interna: '',
          nombre: '',
          descripcion: '',
          tipo: '',
          marca: '',
          precio: 0,
          autos: '',
          stock: 0,
          categoria: '',
          status: '',
          id_promo: '',
          pesado: '',
          outlet: '',
          fecha: '',
          usuario:'',
          peso: 0,
          ancho: 0,
          alto: 0,
          largo: 0
        },
        promos: [],
        imageUrl: {},
        req: [
          value => !!value || 'Campo requerido.',
        ],
        ruleNumber: [
            value => !!value || 'Campo requerido.',
            value => {
              const pattern = /^[0-9]{5}$/;
              return pattern.test(value) || 'Solo números.'
            }
        ]
      }
    },
    created () {
      this.getPromos()
    },
    methods: {
       save(){
        if (this.$refs.form.validate()) {
          console.log('valido')
          const route = this.edit ? '/products/update' : '/products'
          const formData = new FormData()
          // formData.append('file', this.$refs.image.files[0])
          Object.keys(this.form).forEach(key => {
            formData.append(key, this.form[key])
          })
          this.$refs.images.forEach((file, i) => {
            formData.append('images[' + i + ']', file.files[0])
          })
          // formData.append(`image`, file)
          // console.log('form', this.form)
          // console.log('formData', formData.get('image[1]'))
          // console.log('refs', this.$refs.images[0].files[0])
          api.post(route, formData, {
            headers: {
              'Content-Type': 'multipart/form-data'
            }
          })
            .then(response => {
                if (!response.data.success) {
                  console.log(response.data.message)
                  this.$root.$emit('notify', { message: response.data.message, type: 'error' })
                } else {
                  console.log('response:', response.data)
                  this.$root.$emit('notify', { message: response.data.message, type: 'success' })
                  this.$emit('done')
                  this.dialog = false
                }
                console.log(response.data)
            })
            .catch(e => {
              console.log(e);
              alert('Error ' + e)
            })
        }
      },
      onFilePicked(i) {
        console.log('picked', i)
        const file = this.$refs.images[i].files[0]
        // this.file = event.target.files[0]
        if (file) {
          const fr = new FileReader()
          fr.readAsDataURL(file)
          // validar que se acepte solo jpg
          if(file.type === 'image/jpeg') {
            fr.addEventListener('load', () => {
              this.imageUrl[i] = fr.result
              // this.imageUrl.push(fr.result)
              // this.imageFile = file // this is an image file that can be sent to server...
            })
          } else {
            this.$root.$emit('notify', { message: `Formato de imagen (${file.type}) no permitido.`, type: 'error' })
            this.imageUrl[i] = ''
            // this.$refs.image.value = ''
          }
        } else {
          this.imageUrl[i] = ''
        }
      },
      getPromos () {
        api.get('/promociones/all')
          .then(response => {
            console.log(response.data)
            this.promos = response.data
          })
          .catch(e => {
            console.log(e);
            alert('Error ' + e)
          })
      },
      editProduct(product){
        this.form = {
          _id: product._id,
          codigo: product.codigo || '',
          clave_interna: product.clave_interna || '',
          nombre: product.nombre || '',
          descripcion: product.descripcion || '',
          tipo: product.tipo || '',
          marca: product.marca || '',
          precio: product.precio || 0,
          autos: product.autos || '',
          stock: product.stock || 0,
          categoria: product.categoria || '',
          status: product.status || '',
          id_promo: product.id_promo || '0',
          pesado: product.pesado || '',
          outlet: product.outlet || '',
          fecha: product.fecha || '',
          usuario: product.usuario || '',
          peso: product.peso || 0,
          ancho: product.ancho || 0,
          alto: product.alto || 0,
          largo: product.largo || 0
        }
        // if (user.domicilio && user.domicilio.estado) this.getMunicipios(user.domicilio.estado)
        this.edit = true
        this.dialog = true
        this.imageUrl = {
          0: `${process.env.VUE_APP_IMG_URL}/${product.clave_interna}/${product.clave_interna}-001.jpg`,
          1: `${process.env.VUE_APP_IMG_URL}/${product.clave_interna}/${product.clave_interna}-002.jpg`,
          2: `${process.env.VUE_APP_IMG_URL}/${product.clave_interna}/${product.clave_interna}-003.jpg`,
        }
        this.$refs.images.forEach(el => {
          el.value = ''
        })
      },
      newProduct() {
        this.edit = false
        this.dialog = true
        this.$refs.form.resetValidation()
        this.form = {
          _id: '',
          codigo: '',
          clave_interna: '',
          nombre: '',
          descripcion: '',
          tipo: '',
          marca: '',
          precio: 0,
          autos: '',
          stock: 0,
          categoria: '',
          status: '',
          id_promo: '',
          pesado: '',
          outlet: '',
          fecha: '',
          usuario:'',
          peso: 0,
          ancho: 0,
          alto: 0,
          largo: 0
        }
      }
    }
}
</script>
