<template>
  <v-dialog v-model="dialog" max-width="600" persistent>
    <v-card>
      <v-form ref="formuploadajax" id="formuploadajax" enctype="multipart/form-data"   lazy-validation>
        <v-toolbar color="#003b94">
         <v-toolbar-title style="color:white;">Subir Productos</v-toolbar-title>
          <v-spacer></v-spacer>
        </v-toolbar>
        <v-layout column align-center class="mb-4">
          <v-flex xs10 offset-xs1 class="my-4">
            <input
              type="file"
              name="file"
              id="file"
              @change="onFileSelected" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
              :disabled="loading"
            />
            <!--<input type="file"  name="file"  id="file" @change="onFileSelected" accept="image/*"/>-->
            <!--<v-text-field
              class="purple-input"
              label="Subir Archivo"
              name="archivo"
              type="file"
            />-->
          </v-flex>
          <v-flex xs10 offset-xs1>
            <h5 class="text-danger">
              <strong>IMPORTANTE</strong>
            </h5>
            <p>
              El formato a agregar debe cumplir con las siguientes especificaciones.
            </p>
            <ul>
              <li>Formato .xlsx(excel)</li>
              <li>
                Primera fila debe contener los siguientes nombres(en mayuscula, sin acentos y respentando también el mismo orden): <br>
                CLAVE_EXTERNA, CLAVE_INTERNA, NOMBRE, EQUIVALENCIA, CATEGORIA, SUBCATEGORIA, PROVEEDOR, PRECIO, AUTOS, STOCK, SERVICIO_PESADO, POPOYE, IMAGEN
              </li>
              <li>Textos en UTF-8(no caracteres especiales, exceptuando campo autos)</li>
              <li>Máximo 10mil registros</li>
              <li>Nombres de imagenes separadas por coma.</li>
            </ul>
          </v-flex>
        </v-layout>
        <v-card-actions>
          <v-btn
            color="red darken-1"
            flat="flat"
            @click="dialog = false"
            :disabled="loading"
          >
            Cancelar
          </v-btn>
          <v-spacer></v-spacer>

          <v-btn
            class="white--text"
            color="green darken-1"
            type="button"
            v-on:click.prevent="Subir()"
            :loading="loading"
          >
            Subir
          </v-btn>
        </v-card-actions>
      </v-form>
    </v-card>
  </v-dialog>
</template>

<script>
import {api} from '@/api'
import $ from 'jquery'

export default {
    name: 'AgregarArchivos',
    data () {
      return {
        dialog: false,
        loading: false
      }
    },
    methods: {
      mostrar(dato){
        alert(dato)
      },
      onFileSelected(event) {
        this.file = event.target.files[0];
        console.log(this.file)
      },
      Subir(){
        this.loading = true
        var blobFile = $('#formuploadajax')[0];
        const formData = new FormData(blobFile);
        api.post('/products/upload', formData, {
          headers: {
          'Content-Type': 'multipart/form-data'
          }
        })
			  .then(response => {
          console.log('respuesta: ',response.data)
          if(response.data.success){
            // console.log('correcto: ',response.data.message)
            this.$root.$emit('notify', { message: response.data.message, type: 'success' })
            this.dialog = false
            document.getElementById("file").value = ""
          }else{
            this.$root.$emit('notify', { message: response.data.message, type: 'error' })
          }
          this.loading = false
        })
        .catch(error => {
          // alert(error)
          const { message } = error.response.data
          this.$root.$emit('notify', { message, type: 'error' })
          this.loading = false
        })
      }
    }
}
</script>
