<template>
  <div>
    <div>
      <div class="details pb-3">
        <div class="details__title">Cliente:</div>
        <div class="details__content">
          <span>{{ cliente.nombre }}</span><br>
          <small>{{ cliente.email }}</small><br>
          <small>{{ cliente.telefono }}</small>
        </div>
      </div>
      <div class="details py-3">
        <div class="details__title">Pieza:</div>
        <div class="details__content">
          {{ cotizacion.pieza }}
        </div>
      </div>
      <div class="details py-3">
        <div class="details__title">Marca:</div>
        <div class="details__content">
          {{ cotizacion.marca }}
        </div>
      </div>
      <div class="details py-3">
        <div class="details__title">Modelo:</div>
        <div class="details__content">
          {{ cotizacion.modelo }}
        </div>
      </div>
      <div class="details py-3">
        <div class="details__title">Motor:</div>
        <div class="details__content">
          {{ cotizacion.motor }}
        </div>
      </div>
      <div class="details py-3">
        <div class="details__title">Año:</div>
        <div class="details__content">
          {{ cotizacion.anio }}
        </div>
      </div>
      <div v-if="cotizacion.numpart"  class="details py-3">
        <div class="details__title">Num. parte:</div>
        <div class="details__content">
          {{ cotizacion.numpart }}
        </div>
      </div>
      <div v-if="cotizacion.status" class="details py-3">
        <div class="details__title">Estatus:</div>
        <div class="details__content">
          {{ cotizacion.status }}
        </div>
      </div>
      <div v-if="cotizacion.user_atiende && cotizacion.user_atiende.length" class="details py-3">
        <div class="details__title">Atiende:</div>
        <div class="details__content">
          <span>{{ atiende.nombres + '  ' + atiende.apellidos }}</span><br>
          <small>{{ atiende.email }}</small>
        </div>
      </div>
      <div v-if="cotizacion.created_at" class="details py-3">
        <div class="details__title">Fecha:</div>
        <div class="details__content">
          {{ cotizacion.created_at | dateTime }}
        </div>
      </div>
      <div v-if="cotizacion.updated_at" class="details py-3">
        <div class="details__title">Última actualizacion:</div>
        <div class="details__content">
          {{ cotizacion.updated_at | dateTime }}
        </div>
      </div>
      <div class="d-flex align-start py-3" v-if="cotizacion.imagen">
        <div class="details__title">Imágen:</div>
        <div class="details__content">
          <a href="#!" @click.prevent="dialog = true">
            <img :src="getUrlImage('1613862217627ine_1.jpg')" class="thumbnail">
          </a>
        </div>
      </div>
      <v-dialog
        v-model="dialog"
        width="1200px"
      >
        <v-card>
          <v-card-text>
            <img class="img_contain" :src="getUrlImage(cotizacion.imagen)" alt="">
          </v-card-text>
        </v-card>
      </v-dialog>
    </div>
  </div>
</template>

<script>
export default {
  name: 'DetallesCotizacion',
  props: {
    cotizacion: {
      type: Object,
      default: () => {}
    }
  },
  data () {
    return {
      dialog: false
    }
  },
  computed: {
    cliente () {
      if (this.cotizacion.usuario && this.cotizacion.usuario.length) {
        return this.cotizacion.usuario[0].datos_personales
      }
      return this.cotizacion.cliente || {}
    },
    atiende () {
      if (this.cotizacion.user_atiende && this.cotizacion.user_atiende.length) {
        return this.cotizacion.user_atiende[0].datos_personales
      }
      return {}
    }
  },
  methods: {
    getUrlImage (path) {
      // return `${process.env.VUE_APP_IMG_URL}/${clave}/${clave}-001.jpg`
      return process.env.VUE_APP_COTIZACION_IMG + path
    }
  }
}
</script>

<style lang="scss" scoped>
.details {
  width: 100%;
  display: flex;
  align-items: baseline;
  &:not(:last-child) {
    border-bottom: 1px solid #e4e4e4;
  }
  &__title {
    width: 80px;
  }
  &__content {
    flex: 1;
    color: #333e48;
    line-height: 1.1;
    small {
      color: #989898;
    }
  }
}
.ls {
  letter-spacing: 2px;
}
.details__title--small {
  width: 40px;
  // border-right: 1px solid $border-color;s
  // display: flex;
  // justify-content: space-between;
  padding-right: 15px;
  padding-left: 5px;
}
.border-bottom-none {
  border-bottom: none!important;
}
.thumbnail {
  width: 200px;
  height: 200px;
  display: block;
  object-fit: contain;
}
.img_contain {
  display: block;
  width: 100%;
  height: 80vh;
  object-fit: contain;
}
</style>
