<template>
  <v-dialog v-model="dialog" max-width="700" scrollable>
    <v-card>
      <v-card-title class="pa-0">
        <v-toolbar color="#003b94">
        <v-toolbar-title style="color:white;">
          {{ item.nombre || '' }} - <small>{{ item.codigo || '' }}</small>
        </v-toolbar-title>
          <v-spacer></v-spacer>
        </v-toolbar>
      </v-card-title>
      <v-card-text>
        <v-layout v-if="dialog" class="mb-4">
          <v-flex xs10 offset-xs1>
            <v-layout class="justify-space-between">
              <v-flex xs3 v-for="imagen in item.imagen" :key="imagen" class="px-2 bordered">
                <img :src="getUrlImage(imagen)" alt=""
                onerror="this.onerror=null; this.src='https://via.placeholder.com/300x300/FAFAFA?text=°°°'" class="product_img">
              </v-flex>
            </v-layout>
          </v-flex>
        </v-layout>
        <v-layout>
          <v-flex xs10 offset-xs1>
            <table class="table_product_details">
              <tr>
                <th class="product_key">ID:</th>
                <td>{{ item._id }}</td>
              </tr>
              <tr>
                <th class="product_key">Código:</th>
                <td>{{ item.codigo }}</td>
              </tr>
              <tr>
                <th class="product_key">Clave Interna:</th>
                <td>{{ item.clave_interna }}</td>
              </tr>
              <tr>
                <th class="product_key">Nombre:</th>
                <td>{{ item.nombre }}</td>
              </tr>
              <tr>
                <th class="product_key">Equivalencias:</th>
                <td>{{ item.equivalencias }}</td>
              </tr>
              <tr>
                <th class="product_key">Categoría:</th>
                <td>{{ item.categoria }}</td>
              </tr>
              <tr>
                <th class="product_key">Subcategoria:</th>
                <td>{{ item.subcategoria }}</td>
              </tr>
              <tr>
                <th class="product_key">Provedor:</th>
                <td>{{ item.proveedor }}</td>
              </tr>
              <tr>
                <th class="product_key">Precio:</th>
                <td>{{ item.precio | currency }}</td>
              </tr>
              <tr>
                <th class="product_key">Stock:</th>
                <td>{{ item.stock }}</td>
              </tr>
              <tr>
                <th class="product_key">Servicio pesado:</th>
                <td>{{ item.servicio_pesado ? 'Si' : 'No' }}</td>
              </tr>
              <tr>
                <th class="product_key">Popoye:</th>
                <td>{{ item.popoye ? 'Si' : 'No' }}</td>
              </tr>
            </table>
            <h5 class="font-weight-medium">Autos:</h5>
            <table class="autos_table">
              <thead>
                <tr>
                  <th>Armadora</th>
                  <th>Modelo</th>
                  <th>Años</th>
                  <th>Motor</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  v-for="({ armadora, modelo, anios, motor }, i) in item.autos"
                  :key=i
                >
                  <td>{{ armadora }}</td>
                  <td>{{ modelo }}</td>
                  <td>{{ anios }}</td>
                  <td>{{ motor }}</td>
                </tr>
              </tbody>
            </table>
          </v-flex>
        </v-layout>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
// import {api} from '@/api'

export default {
  name: 'DetallesProducto',
  data () {
    return {
      dialog: false,
      item: {},
    }
  },
  computed: {
    autos () {
      console.log(this.item.autos)
      return this.item.autos
    }
  },
  methods: {
    openModal (item) {
      this.dialog = true
      this.item = item
    },
    getUrlImage (i) {
      return `${process.env.VUE_APP_IMG_URL}/${i}`
    }
  }
}
</script>
<style lang="scss" scoped>
.table_product_details {
  width: 100%;
  td {
    padding: 5px 0;
    width: calc(100% - 130px);
  }
}
.product_key {
  // display: inline-block;
  padding: 5px 10px 5px 0;
  text-transform: capitalize;
  text-align: left;
  color: #212121;
  font-weight: 500;
}
.product_img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-bottom: 1px;
}
.bordered {
  border: 1px solid #e2e2e2;
  border-radius: 6px;
}
.autos_table {
  width: 100%;
  border-collapse: collapse;
  thead {
    text-align: left;
    background: #f2f2f2;
    th:not(:first-child) {
      border-left: 1px solid rgba(0,0,0,0.1);
    }
  }
  th, td {
    padding: 0.6em 0.5em;
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }
}
</style>
