<template>
  <v-dialog v-model="dialog" max-width="350">
    <v-card>
      <v-card-title class="justify-center">{{ text }}</v-card-title>
      <v-card-actions>
        <v-btn
          color="grey"
          flat="flat"
          @click="dialog = false"
        >
          Cancelar
        </v-btn>
        <v-spacer></v-spacer>

        <v-btn
          color="error"
          small
          tile
          depressed
          class="white--text"
          @click="remove"
        >
          Eliminar
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { api } from '@/api'

export default {
  name: 'ModalConfirmDelete',
  data () {
    return {
      dialog: false,
      id: '',
      text: '',
      route: ''
    }
  },
  methods: {
    remove () {
      api.post(this.route, { _id: this.id })
        .then(response => {
          const { success, message } = response.data
          if(success){
            this.$root.$emit('notify', { message: message, type: 'success' })
            this.$emit('done')
            this.dialog = false
          }else{
            this.$root.$emit('notify', { message: message, type: 'error' })
          }
        })
        .catch(e => {
          console.log(e);
        })
    },
    openModal (data) {
      this.id = data.id,
      this.text = data.text,
      this.route = data.route,
      this.dialog = true
    }
  }
}
</script>
