<template>
  <v-dialog v-model="dialog" max-width="500" scrollable>
    <v-card>
      <v-card-title class="pa-0">
        <v-toolbar dark color="indigo">
         <v-toolbar-title style="color:white;">Detalles de cotización</v-toolbar-title>
          <v-spacer></v-spacer>
        </v-toolbar>
      </v-card-title>
      <v-card-text>
        <v-layout row>
          <v-flex xs12 >
            <detalles-cotizacion :cotizacion="cotizacion" />
          </v-flex>
        </v-layout>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="primary"
          flat
          @click="dialog = false"
        >
          Aceptar
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script>
import DetallesCotizacion from '@/components/core/DetallesCotizacion'
export default {
    name: 'CotizacionInfo',
    components: {
      DetallesCotizacion
    },
    data () {
      return {
        cotizacion: {
          status: '',
          cliente: {
            telefono: '',
            nombre: '',
            email: ''
          },
          extra: '',
          pieza: '',
          marca: '',
          modelo: '',
          motor: '',
          anio: '',
          numpart: '',
          created_at: '',
          updated_at: ''
        },
        dialog: false,
      }
    },
    methods: {
      openModal (cotizacion) {
        this.cotizacion = cotizacion
        this.dialog = true
      }
    }
}
</script>
