<template>
  <v-dialog
    v-model="dialog"
    width="1200px"
  >
    <template v-slot:activator="{ on }">
      <v-btn
        color="blue darken-2"
        flat
        small
        v-on="on"
      >
        ver comprobante
      </v-btn>
    </template>
    <v-card>
      <v-card-text>
        <img :src="img" alt="">
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: 'ModalImageComprobante',
  props: {
    img: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      dialog: false
    }
  }
}
</script>

<style lang="scss" scoped>
img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
</style>
