<template>
  <div>
    <v-data-table
      :headers="headers"
      :items="items"
      :search="search"
      :pagination.sync="pagination"
    >
      <template
        slot="headerCell"
        slot-scope="{ header }"
      >
        <span
          class="subheading font-weight-light text-success text--darken-3"
          v-text="header.text"
        />
      </template>
      <template
        slot="items"
        slot-scope="{ item }"
      >
        <td>
          <img :src="getUrlImage(item.imagen)" alt="" onerror="this.onerror=null; this.src='https://via.placeholder.com/300x300/FAFAFA?text=°°°'" class="product_img">
        </td>
        <td>{{ item.clave_interna }}</td>
        <td>{{ item.codigo }}</td>
        <td>{{ item.nombre }}</td>
        <!-- <td>{{ item.tipo }}</td> -->
        <!-- <td>{{ item.marca }}</td> -->
        <td>{{ item.precio | currency }}</td>
        <td>{{ item.promocion || '---' }}</td>
        <td>{{ item.status ? 'Activo': 'Inactivo' }}</td>
        <!-- <td>
          <v-btn
            v-if="!readonly"
            small
            outline
            :color="getStatusColor(item.status)"
            class="white--text"
            @click="$refs.modalChangeStatus.openModal(item)"
          >
            {{ item.status }}
          </v-btn>
          <v-chip
            v-else
            label
            :color="getStatusColor(item.status)"
            class="white--text"
          >
            {{ item.status || '--' }}
          </v-chip>
        </td> -->
        <td>
          <div class="d-flex align-center justify-end h-100">
            <v-btn flat icon color="#003b94!important" class="text-lowercase" @click="$refs.modalDetallesProducto.openModal(item)" :ripple="false">
              detalles
            </v-btn>
            <v-menu left offset-y offset-x :nudge-right="10">
              <template v-slot:activator="{ on }">
                <v-icon v-on="on">mdi-dots-vertical</v-icon>
              </template>
              <v-list dense class="py-1 text-right">
                <v-list-tile
                  @click="$refs.addEditProducto.editProduct(item)"
                >
                  <v-list-tile-title>Editar información</v-list-tile-title>
                </v-list-tile>
                <!-- <v-list-tile
                  @click="$refs.modalChangePass.openModal(item)"
                >
                  <v-list-tile-title>Cambiar contraseña</v-list-tile-title>
                </v-list-tile> -->
              </v-list>
            </v-menu>
          </div>
        </td>
      </template>
    </v-data-table>
    <detalles-producto ref="modalDetallesProducto"/>
    <add-edit-producto @done="$emit('update')" ref="addEditProducto"/>
    <Modalinfo ref="modalInfo"/>
    <modal-change-status @update="$emit('update')" ref="modalChangeStatus"/>
  </div>
</template>

<script>
// import dayjs from 'dayjs'
import AddEditProducto from '@/components/core/AddEditProducto'
import DetallesProducto from '@/components/core/DetallesProducto'
import Modalinfo from '@/components/core/Detalles4.vue'
import ModalChangeStatus from '@/components/core/ChangeOrderStatus.vue'

export default {
  name: 'ProductosTable',
  components: {
    AddEditProducto,
    DetallesProducto,
    Modalinfo,
    ModalChangeStatus
  },
  props: {
    items: {
      type: Array,
      default: () => []
    },
    search: {
      type: String,
      default: ''
    }
  },
  computed: {
    // productos () {
    //   return this.items.map(i => {
    //     return {
    //       ...i,
    //       status: i.status ? 'Activo' : 'Inactivo'
    //     }
    //   })
    // }
  },
  data () {
    return {
      headers: [
        {
          text: '',
          sortable: false
        },
        {
          text: 'Clave',
          value: 'clave_interna'
        },
        {
          text: 'Código',
          value: 'codigo'
        },
        {
          text: 'Nombre',
          value: 'nombre'
        },
        // {
        //   text: 'Tipo',
        //   value: 'tipo'
        // },
        // {
        //   text: 'Provedor',
        //   value: 'marca'
        // },
        {
          text: 'Precio',
          value: 'precio'
        },
        {
          text: 'Promocion',
          value: 'id_promo'
        },
        {
          text: 'Estatus',
          value: 'status'
        },
        {
          sortable: false,
          text: 'Opciones',
          value: 'opciones',
          align: 'right'
        }
      ],
      pagination: {
        rowsPerPage: 10
      }
    }
  },
  methods: {
    getUrlImage (imagen) {
      if(!imagen.length) return null
      return `${process.env.VUE_APP_IMG_URL}/${imagen[0]}`
    }
  }
}
</script>
<style lang="scss" scoped>
.f-pago {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 4px;
  color: #FFF;
}
.product_img {
  display: block;
  width: 60px;
  height: 60px;
  object-fit: contain;
}
</style>
