<template>
  <div class="d-inline-block ml-3">
    <v-btn color="warning" dark small @click="dialog = true" class="white--text">Administrar roles</v-btn>
    <v-dialog
      v-model="dialog"
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition"
      scrollable
    >
      <v-card tile>
        <v-toolbar card color="blue darken-2">
          <v-toolbar-title class="white--text">Administrar roles</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-btn
            color="blue darken-4"
            depressed
            small
            class="white--text"
            @click="$refs.addEditRoles.newRol()"
          >
            nuevo rol
          </v-btn>
          <v-btn icon class="white--text" @click="dialog = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-toolbar>
        <v-card-text>
          <v-data-table
            :headers="headers"
            :items="roles"
            :loading="loading"
            :search="search"
            :pagination.sync="pagination"
          >
            <template
              slot="items"
              slot-scope="{ item }"
            >
              <td>{{ item.nombre }}</td>
              <!-- <td>{{ item.linksList.join(', ') }}</td> -->
              <td>
                <v-chip
                  v-for="(rol, index) in item.links" :key="index"
                  outline
                >
                  {{ rol && rol.name || '&nbsp;&nbsp;*&nbsp;&nbsp;' }}
                </v-chip>
              </td>
              <!-- <td>{{ item.links }}</td> -->
              <td class="d-flex align-center justify-end">
                <v-btn
                  v-if="item.nombre !== 'Admin'"
                  flat
                  icon
                  color="#003b94!important"
                  class="text-lowercase"
                  :ripple="false"
                  @click="$refs.addEditRoles.editRol(item)"
                >
                  editar
                </v-btn>
                <v-btn
                  v-if="item.nombre !== 'Admin'"
                  flat
                  icon
                  class="text-lowercase red--text"
                  :ripple="false"
                  @click="$refs.removeRol.openModal({
                        id: item._id,
                        text: `¿Eliminar rol ${item.nombre}?`,
                        route: '/roles/remove'
                      })"
                >
                  eliminar
                </v-btn>
              </td>
            </template>
          </v-data-table>
        </v-card-text>
      </v-card>
    </v-dialog>
    <roles-add-edit ref="addEditRoles" @update="$emit('update')"/>
    <modal-confirm-delete ref="removeRol" @done="$emit('update')"/>
  </div>
</template>

<script>
import RolesAddEdit from '@/components/core/RolesAddEdit'
import ModalConfirmDelete from '@/components/core/ModalConfirmDelete'

export default {
  name: 'Roles',
  props: {
    roles: {
      type: Array,
      default: () => []
    }
  },
  components: {
    ModalConfirmDelete,
    RolesAddEdit
  },
  data () {
    return {
      dialog: false,
      loading: false,
      search: '',
      headers: [
        {
          text: 'Nombre',
          value: 'nombre'
        },
        {
          text: 'Links',
          value: 'linksList'
        },
        {
          sortable: false,
          text: 'Opciones',
          value: 'opciones',
          align: 'center'
        }
      ],
      pagination: {
        rowsPerPage: 10
      }
    }
  }
}
</script>
