<template>
  <v-dialog v-model="dialog" max-width="500" scrollable persistent>
    <v-card>
      <v-form ref="form" v-on:submit.prevent="save()" lazy-validation>
        <v-toolbar color="#003b94">
          <v-toolbar-title style="color:white;">
            <span v-if="edit">Editar</span>
            <span v-else>Nuevo</span>
            Rol
          </v-toolbar-title>
          <v-spacer></v-spacer>
        </v-toolbar>
        <v-layout row>
          <v-flex xs10 offset-xs1 >
            <v-text-field
              v-model.trim="rol.nombre"
              class="purple-input"
              label="Nombre"
              :rules="required"
              :error="nameError"
            />
            <h6 class="mt-0 font-weight-medium">MODULOS</h6>
            <v-checkbox
              v-for="(item, index) in links" :key="index"
              v-model="rol.links"
              :label="item.name"
              :value="item"
              :rules="arrMin"
              name="links"
              hide-details
            ></v-checkbox>
          </v-flex>
        </v-layout>
        <v-card-actions class="mt-4">
          <v-btn
            color="red darken-1"
            flat="flat"
            @click="dialog = false"
          >
            Cancelar
          </v-btn>
          <v-spacer></v-spacer>

          <v-btn
            color="green darken-1"
            flat="flat"
            type="submit"
          >
            Guardar
          </v-btn>
        </v-card-actions>
      </v-form>
    </v-card>
  </v-dialog>
</template>

<script>
import { api } from '@/api'
import routerLinks from '@/utils/routerLinks'

export default {
    name: 'RolesAddEdit',
    data () {
      return {
        dialog: false,
        edit: false,
        rol: {
          nombre: '',
          links: []
        },
        links: routerLinks,
        required:[
          value => !!value.length || 'Campo requerido.'
        ],
        arrMin: [
          value => !!value.length || 'Seleccione al menos un item'
        ],
        nameError: false
      }
    },
    methods: {
      save(){
        if (this.$refs.form.validate()) {
          const route = this.edit ? '/roles/update' : '/roles'
          api.post(route, this.rol)
            .then(response => {
              const { success, message, data } = response.data
              if(success){
                this.$root.$emit('notify', { message: message, type: 'success' })
                this.$emit('update')
                this.dialog = false
              }else{
                if (data.type === 'name') this.nameError = true
                this.$root.$emit('notify', { message: message, type: 'error' })
              }
            })
            .catch(e => {
              console.log(e);
            })
        } else if(this.rol.nombre && !this.rol.links.length) {
          this.$root.$emit('notify', { message: 'Debes seleccionar al menos un modulo', type: 'error' })
        }
      },
      newRol () {
        this.edit = false
        this.dialog = true
        this.$refs.form.resetValidation()
        this.nameError = false
        this.rol = {
          nombre: '',
          links: []
        }
      },
      editRol (rol) {
        this.edit = true
        this.dialog = true
        this.rol = rol
      }
    }
}
</script>
