@import "material-dashboard/mixins";
@import "material-dashboard/variables";
@import "material-dashboard/typography";
@import "material-dashboard/sidebar";
@import "material-dashboard/toolbar";
@import "material-dashboard/misc";
@import "material-dashboard/inputs";
@import "material-dashboard/footer";
@import "material-dashboard/cards";
@import "material-dashboard/tables";
@import "material-dashboard/tabs";
@import "material-dashboard/checkboxes";
@import "material-dashboard/tooltips";
@import "material-dashboard/buttons";
@import "material-dashboard/alerts";
@import "material-dashboard/fixed-plugin";
@import "material-dashboard/dropdown";

hr {
  border: 1px solid #eee;
}

.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}
.v-list--dense .v-list__tile:not(.v-list__tile--avatar) {
  height: 25px;
}

.v-menu__content {
  border-radius: 4px;
}

.white--text {
  color: #FFF!important;
}
.d-flex>* {
  flex-grow: 0!important;
}

.v-list.text-right .v-list__tile__title {
  text-align: right;
}

.border-right {
  border-right: 1px solid rgba(0,0,0,0.1);
}

.image-file {
  display: flex;
  // flex-wrap: nowrap;
  flex-flow: column nowrap;
  &__preview {
    $color: #DADCE0;
    position: relative;
    width: 100%;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid $color;
    .message {
      margin-bottom: 0;
      color: $color;
      letter-spacing: 1px;
      font-size: 10px;
      user-select: none;
      text-transform: uppercase;
    }
    .image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: contain;
      background-position: center;
      cursor: pointer;
    }
  }
}

.red--text {
  color: #f44336!important;
  caret-color: #f44336!important;
}

// .layout .flex {
//   padding: 4px;
// }