<template>
  <v-container
    fill-height
    fluid
    grid-list-xl>
    <v-layout
      justify-center
      wrap
    >
      <v-flex
        xs12
        md12
      >
        <material-card
          color="green"
          title="Perfil Administrador"
          text="Ver/Editar datos de perfil"
        >
          <v-container py-0>
            <v-layout wrap>
              <v-flex
                xs12
                md3
              >
                <h3 class="caption mb-0 text--secondary">Nombre</h3>
                <h2 class="title">{{ user.datos_personales.nombres || '--' }}</h2>
              </v-flex>
              <v-flex
                xs12
                md3
              >
                <h3 class="caption mb-0 text--secondary">Apellidos</h3>
                <h2 class="title">{{ user.datos_personales.apellidos || '--' }}</h2>
              </v-flex>
              <v-flex
                xs12
                md3
              >
                <h3 class="caption mb-0 text--secondary">Username</h3>
                <h2 class="title">{{ user.datos_personales.username || '--' }}</h2>
              </v-flex>
              <v-flex
                xs12
                md3
              >
                <h3 class="caption mb-0 text--secondary">Email</h3>
                <h2 class="title">{{ user.datos_personales.email || '--' }}</h2>
              </v-flex>
              <v-flex
                xs12
                md3
              >
                <h3 class="caption mb-0 text--secondary">Teléfono</h3>
                <h2 class="title">{{ user.datos_personales.telefono || '--' }}</h2>
              </v-flex>
              <v-flex
                xs12
                md9
              >
                <h3 class="caption mb-0 text--secondary">Direccion</h3>
                <h2 class="title">{{ direccion || '--' }}</h2>
              </v-flex>
              <v-flex
                xs12
                md3
              >
                <h3 class="caption mb-0 text--secondary">Estado</h3>
                <h2 class="title">{{ user.domicilio.estado || '--' }}</h2>
              </v-flex>
              <v-flex
                xs12
                md3
              >
                <h3 class="caption mb-0 text--secondary">Municipio</h3>
                <h2 class="title">{{ user.domicilio.municipio || '--' }}</h2>
              </v-flex>
              <v-flex
                xs12
                md3
              >
                <h3 class="caption mb-0 text--secondary">Localidad</h3>
                <h2 class="title">{{ user.domicilio.localidad || '--' }}</h2>
              </v-flex>
              <v-flex
                xs12
                md3
              >
                <h3 class="caption mb-0 text--secondary">País</h3>
                <h2 class="title">{{ user.domicilio.pais || '--' }}</h2>
              </v-flex>
              <v-flex
                xs12
                md3
              >
                <h3 class="caption mb-0 text--secondary">Código Postal</h3>
                <h2 class="title">{{ user.domicilio.codigo_postal || '--' }}</h2>
              </v-flex>
              <v-flex
                xs12
                md9
              >
                <h3 class="caption mb-0 text--secondary">Referencias</h3>
                <h2 class="title">{{ user.domicilio.referencias || '--' }}</h2>
              </v-flex>
              <v-flex
                xs12
                md3
              >
                <h3 class="caption mb-0 text--secondary">Rol</h3>
                <h2 class="title">{{ user.rol && user.rol.join(', ') || '--' }}</h2>
              </v-flex>
              <v-flex
                xs12
                md3
              >
                <h3 class="caption mb-0 text--secondary">Estatus</h3>
                <h2 class="title">{{ user.status || '--' }}</h2>
              </v-flex>
            </v-layout>
          </v-container>
        </material-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { api } from '@/api'

export default {
  name: 'AdminProfile',
  data () {
    return {
      user: {
        datos_personales: {
          nombres: '',
          apellidos: '',
          username: '',
          email: '',
          telefono: ''
        },
        domicilio: {
          calle: '',
          num: '',
          colonia: '',
          localidad: '',
          municipio: '',
          estado: '',
          pais: '',
          codigo_postal: '',
          referencias: ''
        },
        rol: [],
        status: ''
      }
    }
  },
  computed: {
    direccion () {
      return `${this.user.domicilio.calle} ${this.user.domicilio.num} ${this.user.domicilio.colonia}`
    }
  },
  methods: {
    usuario(){
      api.get(`/usuarios/me`)
      .then(response => {
        // JSON responses are automatically parsed.
        this.user = response.data.data
        console.log("los items son los siguientes:")
        console.log(this.user);
        console.log("el nombre es el siguiente:")
        console.log(this.user.datos_personales.nombres);
      })
      .catch(e => {
        this.errors.push(e)
      })
   }
  },
  created() {
    this.usuario()
  }
}

</script>
