<template>
  <v-container
    fill-height
    fluid
    grid-list-xl
  >
    <v-layout
      justify-center
      wrap
    >

      <v-flex
        md12
      >
        <material-card
          color="rgb(21, 45, 91)"
          title="Clientes"
          text="Datos de clientes registrados en el sitio web Reface"
        >
          <v-text-field outline clearable label="Buscar" v-model="buscar">

          </v-text-field>
          <v-data-table
            :headers="headers"
            :items="users"
            :loading="ver"
            item-key="nombres"
            loading-text="Buscando... por favor, espere un momento."
            :search="buscar"
            :pagination.sync="pagination"
          >
            <template
              slot="headerCell"
              slot-scope="{ header }"
            >
              <span
                class="subheading font-weight-light text-success text--darken-3"
                v-text="header.text"
              />
            </template>
            <template
              slot="items"
              slot-scope="{ item }"
            >
              <td>{{ item.nombre }}</td>
              <td>{{ item.datos_personales.email }}</td>
              <td>{{ item.datos_personales.telefono }}</td>
              <td>{{ item.direccion }}</td>
              <td>
                <v-switch
                  true-value="Activo"
                  false-value="Inactivo"
                  :input-value="item.status"
                  color="green" :label="item.status"
                  hide-details
                  @change="changeStatus(item)"
                />
              </td>
              <td class="d-flex align-center justify-end">
                <v-btn flat icon color="#003b94!important" class="text-lowercase" @click="$refs.modalDetalles.setInfo(item)" :ripple="false">
                  ver
                </v-btn>
                <!-- <v-menu left offset-y offset-x :nudge-right="10">
                  <template v-slot:activator="{ on }">
                    <v-icon v-on="on">mdi-dots-vertical</v-icon>
                  </template>
                  <v-list dense class="py-1 text-right">
                    <v-list-tile
                    >
                      <v-list-tile-title>Asignar rol</v-list-tile-title>
                    </v-list-tile>
                  </v-list>
                </v-menu> -->
              </td>
            </template>
          </v-data-table>
          <Modaldetalles ref="modalDetalles"/>
        </material-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import Modaldetalles from '@/components/core/Detalles.vue'
import {api} from '@/api'

export default {
  name: 'Clientes',
  components:{
    Modaldetalles
  },
  computed: {
    users () {
      return this.items.map(user => {
        return {
          ...user,
          nombre: `${user.datos_personales.nombres} ${user.datos_personales.apellidos}`,
          direccion: `${user.domicilio.calle} ${user.domicilio.num} ${user.domicilio.colonia}, ${user.domicilio.codigo_postal}, ${user.domicilio.estado} ${user.domicilio.municipio} ${user.domicilio.localidad}`
        }
      })
    }
  },
  data () {
    return {
      pagination: {
        rowsPerPage: 10
      },
      items: [],
      ver:false,
      headers: [
        {
          text: 'Nombres',
          value: 'nombre'
        },
        {
          text: 'Email',
          value: 'datos_personales.email'
        },
        {
          text: 'Teléfono',
          value: 'datos_personales.telefono'
        },
        {
          text: 'Dirección',
          value: 'direccion'
        },
        {
          text: 'Status',
          value: 'status'
        },
        {
          sortable: false,
          text: 'Acciones',
          value: 'acciones',
          align: 'right'
        }
      ],
      buscar:null
    }
  },
  methods: {
    loadUsers () {
      api.get(`/clientes`)
      .then(response => {
        const { success, data } = response.data
        if (!success) return
        this.items = data
        this.ver = true;
      })
      .catch(e => {
        alert(e)
        console.log(e)
      })
    },
    changeStatus (user) {
      console.log('change',user)
      const status = user.status == 'Activo' ? 'Inactivo' : 'Activo'
      api.post(`/usuarios/change-status/${user._id}`, { status })
      .then(response => {
          if(response.data.success==true){
            this.loadUsers()
            this.$root.$emit('notify', { message: response.data.message, type: 'success' })
            return
          }
          this.$root.$emit('notify', { message: response.data.message, type: 'error' })
      })
      .catch(e => {
        console.log(e);
      })
    }
  },
  created() {
    this.loadUsers()
  }
}

</script>
<style lang="scss" scoped>
.v-list__tile__title {
  text-align: right;
}
</style>
