<template>
  <v-container
    fill-height
    fluid
    grid-list-xl
  >
    <v-layout
      justify-center
      wrap
    >
      <v-flex
        md12
      >
        <material-card
          color="rgb(21, 45, 91)"
        >
          <template slot="header">
            <div class="d-flex justify-space-between">
              <div>
                <h4 class="title font-weight-light mb-2">Compras</h4>
                <p class="category font-weight-thin">Ordenes de compra realizadas</p>
              </div>
              <div v-if="tab !== 3">
                <update-forma-pago/>
              </div>
              <div v-else>
                <Modalalta @close="closeagregar"/>
              </div>
            </div>
          </template>
          <v-card elevation="0" class="mt-4">
            <v-tabs v-model="tab" v-if="isAdmin">
              <v-tab>Todas</v-tab>
              <v-tab>Nuevas</v-tab>
              <v-tab>Atendidas</v-tab>
              <v-tab>Cajas</v-tab>
            </v-tabs>
            <v-tabs v-model="tab" v-else>
              <v-tab>Nuevas</v-tab>
              <v-tab>Atendidas</v-tab>
              <v-tab>Cajas</v-tab>
            </v-tabs>
            <v-card-title primary-title color="primary">
              <v-spacer></v-spacer>
              <v-flex md6>
                <v-text-field
                  v-model="search"
                  label="Buscar"
                  outline
                  clearable
                  @click:clear="clearActiveStatus"
                >
                </v-text-field>
              </v-flex>
              <v-flex md3>
                <v-select
                  v-if="tab !== 3"
                  v-model="activeStatus"
                  outline
                  label="Estados"
                  @change="buscarPorStatus"
                  :items="estados"
                  clearable
                  >
                </v-select>
              </v-flex>
            </v-card-title>

            <ordenes-table
              :items="ordenes"
              :search="search"
              v-if="tab === 0 && isAdmin"
              @update="compras"
              :readonly="isAdmin"
            />
            <ordenes-table
              :items="ordenesNuevas"
              :search="search"
              v-if="isAdmin && tab === 1 || !isAdmin && tab === 0"
              @update="compras"
            />
            <ordenes-table
              :items="ordenesAtendidas"
              :search="search"
              v-if="isAdmin && tab === 2 || !isAdmin && tab === 1"
              @update="compras"
            />
            <v-data-table
              :headers="headersCajas"
              :items="items_cajas"
              :search="search"
              v-if="tab === 3"
            >
              <template
                slot="headerCell"
                slot-scope="{ header }"
              >
                <span
                  class="subheading font-weight-light text-success text--darken-3"
                  v-text="header.text"
                />
              </template>
              <template
                slot="items"
                slot-scope="{ item }"
              >
                <td>{{ item.codigo }}</td>
                <td>{{ item.ancho }} m</td>
                <td>{{ item.largo }} m</td>
                <td>{{ item.alto }} m</td>
                <td class="text-xs-right">
                  <v-btn color="success" small v-on:click="edit_caja(item)">Editar</v-btn>
                  <v-btn color="error" small v-on:click="delete_caja(item)">Borrar</v-btn>
                </td>
              </template>
            </v-data-table>
          </v-card>
          <Modalalta v-if="tab_cajas" @close="closeagregar"/>
          <!-- <Modaloxxo v-else/> -->
        </material-card>
      </v-flex>
    </v-layout>
    <v-layout>
      <Modaleliminar :info="info2" :dialog="dialog3" @close="closeeliminar"/>
      <Modaleditar :info="info3" :dialog="dialog4" @close="closeeditar"/>
    </v-layout>
  </v-container>
</template>

<script>
import Modaloxxo from '@/components/core/Detalles8.vue'
import Modaleditar from '@/components/core/EditarCaja.vue'
import Modaleliminar from '@/components/core/BorrarCaja.vue'
import Modalalta from '@/components/core/AltaCaja.vue'
import OrdenesTable from '@/components/core/OrdenesTable.vue'
import UpdateFormaPago from '@/modules/FormasPago/UpdateFormaPagoModal.vue'
import { api } from '@/api'

export default {
    name: 'Compras',
    components:{
      Modaloxxo,
      Modaleditar,
      Modaleliminar,
      Modalalta,
      OrdenesTable,
      UpdateFormaPago
      //      Modaldebito,
//      Modalcredito
  },
  data () {
    return {
      search:'',
      tab: 0,
      info:null,
      info2: {},
      info3: {},
      ordenes: [],
      ordenesNuevas: [],
      ordenesAtendidas: [],
      dialog: false,
      dialog3:false,
      dialog4:false,
      headersCajas: [
        {
          text: 'Código',
          value: 'codigo'
        },
        {
          text: 'Ancho',
          value: 'ancho'
        },
        {
          text: 'Largo',
          value: 'largo'
        },
        {
          text: 'Alto',
          value: 'alto'
        },
        {
          text: 'Opciones',
          value: '',
           align: 'right'
        }
      ],
      estados: ['Preparando producto','Pendiente','Pagado','Enviado','Entregado'],
      activeStatus: null,
      items_cajas:[],
      tab_cajas:false,
      isAdmin: false
    }
  },
  created() {
    const token = this.$jwt.decode(localStorage.getItem('reface'))
    if(token.rol.includes('Admin') || token.rol.includes('admin')) this.isAdmin = true
    this.compras()
    this.cajas()
  },
  methods: {
    closeagregar(res){
      if(res==true){
        console.log('true')
        this.cajas()
      }else{
        console.log('false')
      }
    },
    closeeditar(res){
      console.log('respuesta: ',res)
      if(res=='true'){
        console.log('true')
        this.dialog4 = false;
        this.cajas()
      }else{
        console.log('false')
        this.dialog4 = false;
      }

    },
    closeeliminar(res){
      if(res==true){
        console.log('true')
        this.dialog3 = false;
        this.cajas()
      }else{
        console.log('false')
        this.dialog3 = false;
      }
    },
    edit_caja(info){
      this.info3=info
      this.dialog4=true
    },
    delete_caja(info){
      this.info2=info
      this.dialog3=true
    },
    buscarPorStatus(){
      if (!this.activeStatus) {
        this.search = ''
      } else {
        this.search = this.activeStatus
      }
    },
    clearActiveStatus() {
      if (this.activeStatus) this.activeStatus = ''
    },
    compras(){
      api.get(`/ordenes`)
      .then(response => {
        this.ordenes = []
        this.ordenesNuevas = []
        this.ordenesAtendidas = []
        const { success, message, data } = response.data
        const id = this.$jwt.decode(localStorage.getItem('reface'))._id || ''
        console.log('id', id)
        data.forEach(order => {
          this.ordenes.push(order)
          if(!order.atiende) {
            this.ordenesNuevas.push(order)
          } else if (order.atiende === id) {
            this.ordenesAtendidas.push(order)
          }
        })
      })
      .catch(e => {
        console.log(e)
      })
    },
    cajas(){
      api.get(`/cajas/list-cajas`)
      .then(response => {
        if(response.data.success == true){
          this.items_cajas=response.data.data
        }else{
          console.log(response.data.message)
        }
      })
      .catch(e => {
        console.log(e)
      })
    }
  }
}

</script>
