<template>
  <v-container
    fill-height
    fluid
    grid-list-xl
  >
    <v-layout
      justify-center
      wrap
    >
      <v-flex
        md12
      >
        <material-card
          color="rgb(21, 45, 91)"
          title="Cotizaciones"
          text="Cotizaciones realizadas"
        >
          <v-card elevation="0" class="mt-4">
            <v-tabs v-model="tab" v-if="isAdmin">
              <v-tab>Todas</v-tab>
              <v-tab>Nuevas</v-tab>
              <v-tab>Atendidas</v-tab>
            </v-tabs>
            <v-tabs v-model="tab" v-else>
              <v-tab>Nuevas</v-tab>
              <v-tab>Atendidas</v-tab>
            </v-tabs>
            <v-card-title primary-title color="primary">
              <v-spacer></v-spacer>
              <v-flex md6>
                <v-text-field
                  v-model="search"
                  label="Buscar"
                  outline
                  clearable
                  @click:clear="clearActiveStatus"
                >
                </v-text-field>
              </v-flex>
              <v-flex md3>
                <v-select
                  v-if="tab !== 3"
                  v-model="activeStatus"
                  outline
                  label="Estados"
                  @change="buscarPorStatus"
                  :items="estados"
                  clearable
                  >
                </v-select>
              </v-flex>
            </v-card-title>

            <cotizaciones-table
              :items="cotizaciones"
              :search="search"
              v-if="tab === 0 && isAdmin"
              @update="getCotizaciones"
              :readonly="isAdmin"
            />
            <cotizaciones-table
              :items="cotizacionesNuevas"
              :search="search"
              v-if="isAdmin && tab === 1 || !isAdmin && tab === 0"
              @update="getCotizaciones"
            />
            <cotizaciones-table
              :items="cotizacionesAtendidas"
              :search="search"
              v-if="isAdmin && tab === 2 || !isAdmin && tab === 1"
              @update="getCotizaciones"
            />
          </v-card>
        </material-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import CotizacionesTable from '@/modules/Cotizaciones/CotizacionesTable.vue'
import { api } from '@/api'

export default {
  name: 'Cotizaciones',
  components:{
    CotizacionesTable
  },
  data () {
    return {
      search:'',
      tab: 0,
      cotizaciones: [],
      cotizacionesNuevas: [],
      cotizacionesAtendidas: [],
      estados: ['Pendiente','Atendida','Cancelada'],
      activeStatus: null,
      isAdmin: false
    }
  },
  created() {
    const token = this.$jwt.decode(localStorage.getItem('reface'))
    if(token.rol.includes('Admin') || token.rol.includes('admin')) this.isAdmin = true
    this.getCotizaciones()
  },
  methods: {
    buscarPorStatus () {
      if (!this.activeStatus) {
        this.search = ''
      } else {
        this.search = this.activeStatus
      }
    },
    clearActiveStatus() {
      if (this.activeStatus) this.activeStatus = ''
    },
    getCotizaciones () {
      api.get('/cotizaciones')
      .then(response => {
        this.cotizaciones = []
        this.cotizacionesNuevas = []
        this.cotizacionesAtendidas = []
        const { success, message, data } = response.data
        const id = this.$jwt.decode(localStorage.getItem('reface'))._id || ''
        console.log('id', id)
        data.forEach(cotizacion => {
          this.cotizaciones.push(cotizacion)
          if(!cotizacion.atiende) {
            this.cotizacionesNuevas.push(cotizacion)
          } else if (cotizacion.atiende === id) {
            this.cotizacionesAtendidas.push(cotizacion)
          }
        })
      })
      .catch(e => {
        console.log(e)
      })
    }
  }
}

</script>
