<template>
  <v-container
    fill-height
    fluid
    grid-list-xl
  >
    <v-layout
      justify-center
      wrap
    >
      <v-flex
        md12
      >
        <material-card
          color="rgb(21, 45, 91)"
        >
          <template slot="header">
            <div class="d-flex justify-space-between">
              <div>
                <h4 class="title font-weight-light mb-2">Productos</h4>
                <p class="category font-weight-thin">Productos registrados en sistema</p>
              </div>
              <v-btn
                color="#003b94"
                class="white--text"
                small
                @click="$refs.modalArchivo.dialog = true"
              >
                <v-icon left>mdi-library-books</v-icon> Subir archivo
              </v-btn>
            </div>
          </template>
          <v-card elevation="0" class="mt-2">
            <v-tabs>
              <v-tab @click="tab = 'publicados'">Publicados</v-tab>
              <v-tab @click="tab = 'pendientes'">Pendientes</v-tab>
            </v-tabs>
            <v-layout>
              <v-spacer></v-spacer>
              <v-flex md6>
                <v-text-field
                  v-model="search"
                  label="Buscar"
                  outline
                  clearable
                >
                </v-text-field>
              </v-flex>
            </v-layout>

            <productos-table
              :items="publicados"
              :search="search"
              v-if="tab === 'publicados'"
              @update="fetchProductos"
              readonly
            />
            <productos-table
              :items="pendientes"
              :search="search"
              v-if="tab === 'pendientes'"
              @update="fetchProductos"
            />
            <modal-archivo ref="modalArchivo"/>
          </v-card>
        </material-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import ModalArchivo from '@/components/core/AgregarArchivos'
import ProductosTable from '@/components/core/ProductosTable'
import { api } from '@/api'

export default {
  name: 'Productos',
  components:{
    ModalArchivo,
    ProductosTable
  },
  data () {
    return {
      search:'',
      tab: 'publicados',
      // info:null,
      ordenes: [],
      ordenesNuevas: [],
      ordenesAtendidas: [],
      publicados: [],
      pendientes: [],
      imgUrl: process.env.VUE_APP_IMG_URL
    }
  },
  created() {
    this.fetchProductos()
    console.log('img_url', this.imgUrl)
  },
  methods: {
    fetchProductos () {
      api.get('/products')
      .then(response => {
        this.ordenes = []
        this.ordenesNuevas = []
        this.ordenesAtendidas = []
        this.publicados = []
        this.pendientes = []
        const { data } = response.data
        console.log(data)
        data.docs.forEach(producto => {
          /**
           * El item va al array pendientes si
           * no contiene el key estutus (se valida primero para evitar error al no encontrar el key)
           * o si lo contiene pero esta vacio/null
           * o si es diferente de activo
           */
          if(!producto.status) {
            this.pendientes.push(producto)
          } else {
            this.publicados.push(producto)
          }
        })
      })
      .catch(e => {
        console.log(e)
      })
    }
  }
}
</script>
