<template>
  <v-container
    fill-height
    fluid
    grid-list-xl
  >
    <v-layout
      justify-center
      wrap
    >
      <v-flex
        md12
      >
        <material-card
          color="rgb(21, 45, 91)"
        >
          <template slot="header">
            <div class="d-flex justify-space-between">
              <div>
                <h4 class="title font-weight-light mb-2">Promociones</h4>
                <p class="category font-weight-thin">Listado de promociones</p>
              </div>
              <v-btn
                color="blue darken-4"
                depressed
                small
                class="white--text"
                @click="$refs.table.add()"
              >
                Agregar
              </v-btn>
              <!-- <promociones-crud @update="$refs.table.fetch()" ref="promocionesCrud"/> -->
            </div>
          </template>
          <promociones-table ref="table" @edit="$refs.promocionesCrud.edit($event)"/>
        </material-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import PromocionesTable from '@/modules/Promociones/PromocionesTable'
// import PromocionesCrud from '@/modules/Promociones/PromocionCrud'
//import toolbar from '@/components/Toolbar.vue'
// import Modaldetalles from '@/components/core/Detalles13.vue'
// import Modaleliminar from '@/components/core/Detalles14.vue'
// import Modalalta from '@/components/core/Detalles15.vue'
// import Modaleditar from '@/components/core/PromocionEdit.vue'
// import {api} from '@/api'
//import $ from 'jquery'
//import axios from 'axios'
export default {
    components:{
      // PromocionesCrud,
      PromocionesTable
//    toolbar,
      // Modaldetalles,
      // Modaleliminar,
      // Modalalta,
      // Modaleditar
  },
  data () {
    return {
    }
  }
}

</script>
