<template>
  <v-container
    fill-height
    fluid
    grid-list-xl
    ref="maincontent"
  >
    <v-layout
      justify-center
      wrap
    >
      <v-flex
        md12
      >
        <material-card
          color="rgb(21, 45, 91)"
          title="Usuarios"
          text="Datos de usuarios registrados en la plataforma Reface"
        >
          <v-text-field clearable dense outline label="Buscar" v-model="buscar">

          </v-text-field>
          <v-data-table
            :headers="headers"
            :items="users"
            :loading="loading"
            item-key="nombres"
            loading-text="Buscando... por favor, espere un momento."
            :search="buscar"
            :pagination.sync="pagination"
          >
            <template
              slot="headerCell"
              slot-scope="{ header }"
            >
              <span
                class="subheading font-weight-light text-success text--darken-3"
                v-text="header.text"
              />
            </template>
            <template
              slot="items"
              slot-scope="{ item }"
            >
              <td>{{ item.nombre }}</td>
              <td>{{ item.datos_personales.email }}</td>
              <td>{{ item.datos_personales.telefono }}</td>
              <td>
                <v-chip
                  v-for="(rol, index) in item.rol" :key="index"
                  label
                  outline
                >
                  {{ rol }}
                </v-chip>
              </td>
              <td>
                <v-switch
                  true-value="Activo"
                  false-value="Inactivo"
                  :input-value="item.status"
                  color="green" :label="item.status"
                  hide-details
                  @change="changeStatus(item)"
                />
              </td>
              <td class="d-flex align-center justify-end">
                <v-btn flat icon color="#003b94!important" class="text-lowercase" @click="$refs.modalDetalles.setInfo(item)" :ripple="false">
                  ver
                </v-btn>
                <v-menu left offset-y offset-x :nudge-right="10">
                  <template v-slot:activator="{ on }">
                    <v-icon v-on="on">mdi-dots-vertical</v-icon>
                  </template>
                  <v-list dense class="py-1 text-right">
                    <v-list-tile
                      @click="$refs.modalCreateEdit.editUser(item)"
                    >
                      <v-list-tile-title>Editar información</v-list-tile-title>
                    </v-list-tile>
                    <v-list-tile
                      @click="$refs.modalChangePass.openModal(item)"
                    >
                      <v-list-tile-title>Cambiar contraseña</v-list-tile-title>
                    </v-list-tile>
                  </v-list>
                </v-menu>
              </td>
            </template>
          </v-data-table>
          <Modaldetalles ref="modalDetalles"/>
          <change-pass ref="modalChangePass"/>
          <modal-usuario :estados="estados" :roles="roles" @done="loadUsers" ref="modalCreateEdit"/>
          <v-btn class="white--text" small color="#003b94" dark @click="$refs.modalCreateEdit.newUser()"> Nuevo usuario </v-btn>
          <Roles @update="updateInfo" :roles="roles"/>
        </material-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import Modaldetalles from '@/components/core/Detalles.vue'
import ModalUsuario from '@/components/core/AddEditUser.vue'
import Modaleliminar from '@/components/core/Detalles2.vue'
import Modalalta from '@/components/core/Altas_usuarios.vue'
import ChangePass from '@/components/core/ChangePass.vue'
import Roles from '@/components/core/Roles.vue'
import { api } from '@/api'

export default {
  name: 'Usuarios',
  components:{
    ChangePass,
    Modaldetalles,
    Modaleliminar,
    ModalUsuario,
    Modalalta,
    Roles
  },
  computed: {
    users () {
      return this.items.map(user => {
        return {
          ...user,
          nombre: `${user.datos_personales.nombres} ${user.datos_personales.apellidos}`,
          roles: user.rol.join(', ')
        }
      })
    }
  },
  data () {
    return {
      pagination: {
        rowsPerPage: 10
      },
      items: [],
      loading: false,
      headers: [
        {
          text: 'Nombres',
          value: 'nombre'
        },
        {
          text: 'Email',
          value: 'datos_personales.email'
        },
        {
          text: 'Teléfono',
          value: 'datos_personales.telefono'
        },
        {
          text: 'Rol',
          value: 'roles'
        },
        {
          text: 'Status',
          value: 'status'
        },
        {
          sortable: false,
          text: 'Acciones',
          value: 'acciones',
          align: 'right'
        }
      ],
      estados: [],
      roles: [],
      buscar: ''
    }
  },
  methods: {
    eliminar(ide){

      api.get(`/ad-usuarios/delete-user/`+ide)
      .then(response => {
        // this.items = response.data
      })
      .catch(e => {
        console.log(e)
      })
    },
    loadUsers () {
      this.loading = false
      api.get(`/usuarios`)
      .then(response => {
        const { success, data } = response.data
        if (!success) return
        console.log(data)
        this.items = data
        this.loading = false
      })
      .catch(e => {
        console.log(e)
      })
    },
    editUser (user) {
      // console.log(user)
      this.$refs.modalCreateEdit.fillData(user)
      this.$refs.modalCreateEdit.edit = true
      this.$refs.modalCreateEdit.dialog = true
    },
    getEstados() {
      api.get('/utils/estados')
      .then(response => {
        console.log(response.data)
        const { data } = response.data
        this.estados = data.map(obj => obj.nombre)
      })
      .catch(e => {
        console.log(e);
      })
    },
    getRoles() {
      api.get('/roles')
      .then(response => {
        const { success, data, message } = response.data
        if(success){
          this.roles = data
        }else{
          alert(message)
        }
      })
      .catch(e => {
        console.log(e);
      })
    },
    updateInfo () {
      this.loadUsers()
      this.getRoles()
    },
    changeStatus (user) {
      console.log('change',user)
      const status = user.status == 'Activo' ? 'Inactivo' : 'Activo'
      api.post(`/usuarios/change-status/${user._id}`, { status })
      .then(response => {
          if(response.data.success==true){
            this.loadUsers()
            this.$root.$emit('notify', { message: response.data.message, type: 'success' })
            return
          }
          this.$root.$emit('notify', { message: response.data.message, type: 'error' })
      })
      .catch(e => {
        console.log(e);
      })
    }
  },
  created () {
    this.loadUsers()
    this.getEstados()
    this.getRoles()
  }
}

</script>
<style lang="scss" scoped>
</style>
