<template>
  <div>
    <v-data-table
      :headers="headers"
      :items="cotizaciones"
      :search="search"
      :pagination.sync="pagination"
    >
      <template
        slot="headerCell"
        slot-scope="{ header }"
      >
        <span
          class="subheading font-weight-light text-success text--darken-3"
          v-text="header.text"
        />
      </template>
      <template
        slot="items"
        slot-scope="{ item }"
      >
        <td>{{ item.fecha }}</td>
        <td>{{ item.cliente.nombre }}</td>
        <td>{{ item.pieza }}</td>
        <td>
          <v-chip
            v-if="readonly"
            label
            :color="getStatusColor(item.status)"
            :class="{ 'white--text': item.status !== 'pendiente' }"
          >
            {{ item.status || '--' }}
          </v-chip>
          <v-btn
            v-else
            small
            outline
            :color="getStatusColor(item.status)"
            class="white--text"
            @click="$refs.modalChangeStatus.openModal(item)"
          >
            {{ item.status }}
          </v-btn>
        </td>
        <td class="text-xs-right">
          <v-btn flat icon color="#003b94!important" class="text-lowercase" @click="$refs.modalInfo.openModal(item)" :ripple="false">
            detalles
          </v-btn>
        </td>
      </template>
    </v-data-table>
    <Modalinfo ref="modalInfo"/>
    <modal-change-status @update="$emit('update')" ref="modalChangeStatus"/>
  </div>
</template>

<script>
import dayjs from 'dayjs'
import Modalinfo from '@/components/core/ModalDetallesCotizacion.vue'
import ModalChangeStatus from '@/components/core/ChangeCotizacionStatus.vue'

export default {
  name: 'CotizacionesTable',
  components: {
    Modalinfo,
    ModalChangeStatus
  },
  props: {
    items: {
      type: Array,
      default: () => []
    },
    search: {
      type: String,
      default: ''
    },
    readonly: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    cotizaciones () {
      return this.items.map(o => {
        return {
          ...o,
          nombreCliente: o.cliente.nombre || '',
          fecha: dayjs(o.created_at).format('DD/MM/YYYY')
        }
      })
    }
  },
  data () {
    return {
      headers: [
        {
          text: 'Fecha',
          value: 'fecha'
        },
        {
          text: 'Cliente',
          value: 'nombreCliente'
        },
        {
          text: 'Pieza',
          value: 'pieza'
        },
        {
          text: 'Estatus',
          value: 'status'
        },
        {
          sortable: false,
          text: 'Opciones',
          value: 'opciones',
          align: 'right'
        }
      ],
      pagination: {
        rowsPerPage: 10
      }
    }
  },
  methods: {
    getStatusColor (status) {
      switch (status.toLowerCase()){
        case 'pendiente': return 'amber darken-1'
        case 'atendida': return 'blue darken-2'
        case 'cancelada': return 'error'
        default: return 'grey lighten-1'
      }
    }
  }
}
</script>

