<template>
  <v-dialog v-model="dialog" max-width="500" persistent>
    <template v-slot:activator="{ on }">
      <v-btn
        v-on="on"
        color="blue darken-4"
        depressed
        small
        class="white--text"
      >
        Formas de pago
      </v-btn>
    </template>
    <v-card>
      <v-form ref="form" @submit.prevent="update" lazy-validation>
        <v-toolbar dark color="indigo">
         <v-toolbar-title style="color:white;">Actualizar forma de pago</v-toolbar-title>
          <v-spacer></v-spacer>
        </v-toolbar>
        <v-card-text>
          <v-layout column>
            <v-flex>
              <v-radio-group v-model="fPagoSelected" @change="updateSelectedFPago($event)" class="mt-0">
                <v-radio
                  v-for="({ nombre, type }, index) in formasPago" :key="index"
                  :label="nombre"
                  :value="type"
                ></v-radio>
              </v-radio-group>
            </v-flex>
            <v-flex>
              <v-text-field
                v-model.trim="form.nombre"
                class="purple-input"
                label="Nombre: "
                :rules="validations.req"
              />
              <v-text-field
                v-if="form.type !== 'oxxo'"
                v-model.trim="form.banco"
                class="purple-input"
                label="Banco: "
                :rules="validations.req"
              />
              <v-text-field
                v-model.trim="form.ref"
                class="purple-input"
                label="Referencia: "
                :rules="validations[fPagoSelected]"
              />
            </v-flex>
          </v-layout>
        </v-card-text>
        <v-card-actions>
          <v-btn
            color="red darken-1"
            flat="flat"
            @click="dialog = false"
          >
            Cancelar
          </v-btn>
          <v-spacer></v-spacer>

          <v-btn
            color="green darken-1"
            flat="flat"
            type="submit"
          >
            Guardar Cambios
          </v-btn>
        </v-card-actions>
      </v-form>
    </v-card>
  </v-dialog>
</template>

<script>
import { api } from '@/api'
export default {
  name: 'UpdateFormasPago',
  data () {
    return {
      dialog: false,
      formasPago: [],
      fPagoSelected: null,
      form: {
        nombre: '',
        type: '',
        banco: null,
        ref: ''
      },
      validations: {
        oxxo: [
          value => !!value || 'Campo requerido',
          value => (value || '').length == 16 || 'Only 16 characters',
          value => {
            const pattern = /^[0-9]{16}$/;
            return pattern.test(value) || 'Número de cuenta inválido'
          },
        ],
        deposito: [
          value => !!value || 'Campo requerido'
        ],
        transferencia: [
          value => !!value || 'Campo requerido'
        ],
        req: [
          value => !!value || 'Campo requerido'
        ]
      }
    }
  },
  created () {
    this.fetch()
  },
  watch: {
    dialog (val) {
      if (!val) {
        this.fPagoSelected = this.formasPago[0].type
        this.form = this.formasPago[0]
      }
    }
  },
  methods: {
    async update () {
      if (this.$refs.form.validate()) {
        try {
          const { success, message, data } = await api.post('/formas-pago/update', this.form).then(res => res.data)
          if(success){
            this.$root.$emit('notify', { message: message, type: 'success' })
            this.$refs.form.resetValidation()
            this.dialog = false
            this.fetch()
          }else{
            this.$root.$emit('notify', { message: message, type: 'error' })
          }
        } catch (error) {
          this.$root.$emit('notify', { message: error, type: 'error' })
        }
      }
    },
    async fetch () {
      try {
        const res = await api.get('/formas-pago').then(res => res.data.data)
        this.formasPago = await res
        this.fPagoSelected = res[0].type
        this.updateSelectedFPago(res[0].type)
        console.log(res)
      } catch (error) {
        console.log(error)
      }
    },
    updateSelectedFPago (val) {
      this.form = { ...this.formasPago.filter(f => f.type === val)[0] }
    }
  }
}
</script>
